@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    font-family: 'Oleo Script', cursive;
    text-align: center;
    line-height: 100vh;
}

span {
    opacity: 0;
    transition: all 0.5s ease;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}